.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-section{
    width:40%;
}

/* .logo-section img{
    width:80px;
} */

.list-item-section{
    width: 60%;
}

.list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.list-items a{
    font-size: 21px;
    text-decoration: none;
}

.cv{
    background-color: var(--font-secondary-color);
}

/*This is media query*/
@media only screen and (min-width:200px) and (max-width:576px) {

}